<html>
	<head>
		<title> Project</title>
		
		
		<link rel="stylesheet" type="text/css" href="libs/angular-material/angular-material.css">
		
		<script src="libs/angular/angular.js"></script>
		<script src="libs/angular-route/angular-route.js"></script>
		
		<!-- angular-material -->
		
		<script src="libs/angular-animate/angular-animate.js"></script>
		<script src="libs/angular-aria/angular-aria.js"></script>
		<script src="libs/angular-messages/angular-messages.js"></script>
		<script src="libs/angular-material/angular-material.js"></script>
		
		<!-- style sheet -->
		<link href="libs/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
		<!-- module -->
		<script type="text/javascript" src="libs/angular-material-data-table/dist/md-data-table.min.js"></script>
		
		<!-- icons -->
		<script src="libs/angular-material-icons/angular-material-icons.min.js"></script> 
		
		<!-- TOASTR -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></link>
		
	</head>
	
	<body data-ng-app="projectPI" ng-controller="indexController">
	
	<div ng-show="ulogovan">

 	<md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Dokument
            </button>
            <md-menu-content>
            
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Faktura</md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-click="goToFaktura()">Nova faktura</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="goToSveFakture()">Lista postojecih faktura</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              
               <md-menu-item>
                <md-button ng-click="goToNarudzbenica()">
                  Narudzbenica
                </md-button>
              </md-menu-item>
               <md-menu-item>
                <md-button ng-click="goToPrimka()">
                  Primka
                </md-button>
              </md-menu-item>
             </md-menu-content>
       	 </md-menu>
       	 
       	 
       	 <md-menu>
            <button ng-click="$mdMenu.open()">
              Preduzece
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="goToPreduzece()">
                  Dodaj preduzece
                </md-button>
              </md-menu-item>
               <md-menu-item>
                <md-button ng-click="goToPregledPreduzeca()">
                  Pregled preduzeca
                </md-button>
              </md-menu-item>
              
             </md-menu-content>
       	 </md-menu>
       	 
       	 <md-menu>
            <button ng-click="$mdMenu.open()">
              Cenovnik
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="dodajCenovnik()">
                  Dodaj cenovnik
                </md-button>
              </md-menu-item>
               <md-menu-item>
                <md-button ng-click="pregledCenovnika()">
                  Pregled cenovnika
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('share', $event)">
                  Kopiraj cenovnik
                </md-button>
              </md-menu-item>
             </md-menu-content>
       	 </md-menu>
       	 
       	 <md-menu>
            <button ng-click="$mdMenu.open()">
              Artikli
            </button>
            <md-menu-content>
             <md-menu-item>
                <md-button ng-click="goToJediniceMere()">
                  Pregled jedinica mere
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="pregledajGrupe()">
                  Pregled grupa artikala
                </md-button>
              </md-menu-item>
             </md-menu-content>
       	 </md-menu>
       	 
       	 <md-menu>
            <button ng-click="$mdMenu.open()">
              PDV
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="goToStopa()">
                  Stopa PDV-a
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="goToVrsta()">
                  Vrsta PDV-a
                </md-button>
              </md-menu-item>
             </md-menu-content>
       	 </md-menu>
       	 
       	 <md-menu>
            <button ng-click="$mdMenu.open()">
              Poslovna godina
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="poslovnaGodina()">
                  Poslovna godina
                </md-button>
              </md-menu-item>
			</md-menu-content>
         </md-menu>
         
        <md-menu>
            <button ng-click="$mdMenu.open()">
              Magacin
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="dodajMagacin()">
                  Dodaj magacin
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="pregledMagacina()">
                  Magacini
                </md-button>
              </md-menu-item>
             </md-menu-content>
       	 </md-menu>
    </md-menu-bar>	
    
    </div>
	
		<div x-ng-view>	
		</div>
		
		<script src="controllers/indexController.js"></script>
		
		<script src="services/loginService.js"></script>
		<script src="services/companyService.js"></script>
		<script src="services/businessPartnerService.js"></script>
		<script src="services/artikalService.js"></script>
		<script src="services/fakturaService.js"></script>
		<script src="services/cenovnikService.js"></script>
		<script src="services/stavkaCenovnikaService.js"></script>
		<script src="services/stavkaDokumentaService.js"></script>
		<script src="services/magacinService.js"></script>
		<script src="services/stopaPDVaService.js"></script>
		<script src="services/vrstaPDVaService.js"></script>
		<script src="services/grupaArtikalaService.js"></script>
		<script src="services/jediniceMereService.js"></script>
		<script src="services/poslovnaGodinaService.js"></script>
		
		<script src="controllers/loginController.js"></script>
		<script src="controllers/homeController.js"></script>
		<script src="controllers/businessDocumentController.js"></script>
		<script src="controllers/pregledPreduzecaController.js"></script>
		<script src="controllers/fakturaController.js"></script>
		<script src="controllers/listaSvihFakturaController.js"></script>
		<script src="controllers/narudzbenicaController.js"></script>
		<script src="controllers/cenovnikController.js"></script>
		<script src="controllers/preduzeceController.js"></script>
		<script src="controllers/poslovniPartnerController.js"></script>
		<script src="controllers/magacinController.js"></script>
		<script src="controllers/primkaController.js"></script>
		<script src="controllers/pregledStopaController.js"></script>
		<script src="controllers/pregledVrstiPDVaController.js"></script>
		<script src="controllers/stopaController.js"></script>
		<script src="controllers/vrstaController.js"></script>
		<script src="controllers/grupaArtikalaController.js"></script>
		<script src="controllers/pregledGrupaController.js"></script>
		<script src="controllers/jediniceMereController.js"></script>
		<script src="controllers/artikalController.js"></script>
		<script src="controllers/pregledCenovnikaController.js"></script>
		<script src="controllers/pregledMagacinaController.js"></script>
		<script src="controllers/poslovnaGodinaController.js"></script>

		<script src="routes/routes.js"></script>
	</body>

</html>