<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
	<h2 flex md-truncate>Fakture</h2>
	
	<md-button class="md-icon-button" aria-label="Pretrazi">
        <ng-md-icon icon="search" style="fill: white" size="24"></ng-md-icon> 
    </md-button>
    
    <input ng-model="brojZaPretragu" ng-change="pretraziPoBrojuDokumenta()">
    
    
</div>
</md-toolbar>
<md-content>
<md-table-container>
  <table md-table md-row-select  ng-model="selected">
    <thead md-head md-order="myOrder">
      <tr md-row>
        <th md-column md-numeric>Broj</th>
        <th md-column>Status</th>
        <th md-column>Datum</th>
        <th md-column>Datum valute</th>
        <th md-column>Datum knjizenja</th>
        <th md-column>Izdavaoc</th>
        <th md-column>Kupac</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="item" md-on-select="onSelectEvent()" md-select-id="name"  md-auto-select ng-repeat="item in items | orderBy: myOrder | limitTo: query.limit: (query.page - 1) * query.limit" >
        <td md-cell>{{item.brojDokumenta}}</td>
        <td md-cell>{{item.statusDokumenta}}</td>
        <td md-cell>{{item.datumDokumenta | date:'dd/MM/yyyy'}}</td>
        <td md-cell>{{item.datumValute | date:'dd/MM/yyyy'}}</td>
        <td md-cell>{{item.datumKnjizenja | date:'dd/MM/yyyy'}}</td>
        <td md-cell>{{item.izdavaocRacuna.name}}</td>
      	<td md-cell>{{item.kupac.name}}</td>     	
      </tr>
    </tbody>
  </table>  
</md-table-container>	
<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{itemsSize}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"></md-table-pagination>
</md-content>

<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
	<h2 flex md-truncate>Zaglavlje dokumenta</h2>
    
</div>
</md-toolbar>

<div layout="row">

	<div layout="column" flex=25 layout-margin>

		<md-input-container>
			<label>Broj dokumenta</label>
    		<input ng-model="brDok" ng-readonly="true">
		</md-input-container>
		
		<md-input-container>
			<label>Status dokumenta</label>
    		<input ng-model="statusDok" ng-readonly="true">
		</md-input-container>
	
		<md-input-container>
			<label>Datum dokumenta</label>
    		<md-datepicker ng-model="datumDok" md-placeholder="Enter date" ng-change="promenaDatumaDokumenta()" ng-readonly="true"></md-datepicker>
		</md-input-container>
		
		<md-input-container>
			<label>Datum valute</label>
    		<md-datepicker ng-model="datumVal" md-placeholder="Enter date" ng-readonly="true"></md-datepicker>
		</md-input-container>
		
		<md-input-container>
			<label>Datum knjizenja</label>
    		<md-datepicker ng-model="datumKnj" md-placeholder="Enter date" ng-readonly="true"></md-datepicker>
		</md-input-container>
		
	</div>

	<div layout="column" flex=25 layout-margin >

		<md-input-container>
			<label>Naziv izdavaoca racuna</label>
    		<input ng-model="naziv" ng-readonly="true">
		</md-input-container>

		<md-input-container>
			<label>Adresa izdavaoca racuna</label>
    		<input ng-model="adresa" ng-readonly="true">
		</md-input-container>
	
		<div layout="row">
			<md-input-container>
				<label>PIB izdavaoca racuna</label>
    			<input ng-model="pib" ng-pattern="/^[0-9]{10}$/" ng-readonly="true">
			</md-input-container>
	
			<md-input-container>
				<label>Maticni broj izdavaoca racuna</label>
    			<input ng-model="mbr" ng-pattern="/^[0-9]{8}$/" ng-readonly="true">
			</md-input-container>
		</div>
	
		<md-input-container>
			<label>Tekuci racun</label>
    		<input ng-model="racun" ng-readonly="true">
		</md-input-container>
		
		
	</div>

	<div layout="column" flex=25 layout-margin>

		<md-input-container>
			<label>Naziv kupca</label>
    		<input ng-model="knaziv" ng-readonly="true">
		</md-input-container>

		<md-input-container>
			<label>Adresa kupca</label>
    		<input ng-model="kadresa" ng-readonly="true">
		</md-input-container>
	
		<div layout="row">
			<md-input-container>
				<label>PIB kupca</label>
    			<input ng-model="kpib" ng-pattern="/^[0-9]{10}$/" ng-readonly="true">
			</md-input-container>
	
			<md-input-container>
				<label>Maticni broj kupca</label>
    			<input ng-model="kmbr" ng-pattern="/^[0-9]{8}$/" ng-readonly="true">
			</md-input-container>
		</div>
	
		<md-input-container>
			<label>Tekuci racun</label>
    		<input ng-model="kracun" ng-readonly="true">
		</md-input-container>
		
	</div>
</div>

<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
	<h2 flex md-truncate>Stavke dokumenta</h2>
    
	</div>
</md-toolbar>
<md-content>
<md-table-container>
  <table md-table md-row-select ng-model="selektovaneStavke">
    <thead md-head md-order="myOrder" >
      <tr md-row>
        <th md-column md-numeric><span>Red.br.</span></th>
        <th md-column md-numeric><span>Sifra</span></th>
        <th md-column>Naziv</th>
        <th md-column>Jedinica mere</th>
        <th md-column md-numeric>Kolicina</th>
        <th md-column md-numeric>Cena po jedinici</th>
        <th md-column md-numeric>Rabat (%)</th>
        <th md-column md-numeric>Poreska osnovica</th>
        <th md-column md-numeric>Stopa PDV</th>
        <th md-column md-numeric>Iznos PDV</th>
        <th md-column md-numeric>Ukupna naknada</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="stavka" md-auto-select ng-repeat="stavka in stavke | orderBy: myOrder | limitTo: queryStavke.limit: (queryStavke.page - 1) * queryStavke.limit">
        <td md-cell>{{$index+1}}</td>
        <td md-cell>{{stavka.artikal.sifra}}</td>
        <td md-cell>{{stavka.artikal.naziv}}</td>
        <td md-cell>{{stavka.artikal.jedMere}}</td>
        <td md-cell>{{stavka.kolicina}}</td>
        <td md-cell>{{}}</td>
        <td md-cell>{{}}</td>
        <td md-cell>{{}}</td>
      	<td md-cell>{{}}</td>
      	<td md-cell>{{}}</td>
      	<td md-cell>{{}}</td>      	
      </tr>
    </tbody>
  </table>  
</md-table-container>	
<md-table-pagination md-limit="queryStavke.limit" md-limit-options="[5, 10, 15]" md-page="queryStavke.page" md-total="{{stavkeSize}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"></md-table-pagination>
</md-content>

<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
	<h2 flex md-truncate>Zakljucak</h2>
	
	<md-button class="md-warn" aria-label="Posalji" ng-click="obracunajFakturu()">
        Obracunaj
    </md-button>
    
    <md-button class="md-warn" aria-label="Posalji" ng-click="stornirajFakturu()">
        Storniraj
    </md-button>
    
	</div>
</md-toolbar>